{{#if hasOrders}}
  <!-- Nội dung bảng đơn hàng -->
  {{#if pendingOrders}}
    <!-- Hiển thị bảng hóa đơn đang chờ -->
        <!-- Hiển thị bảng nếu có cartdetail -->
  <h3 style="text-align: center;">Bảng Hóa Đơn đã đặt hàng</h3>
  <table class="table table-primary">
    <thead>
      <tr class="table-primary">
        <th scope="col" style="text-align: center;">MS bill</th>
        <th scope="col" style="text-align: center;">Image</th>
        <th scope="col" style="text-align: center;">Product</th>
        <th scope="col" style="text-align: center;">Quantity</th>
        <th scope="col" style="text-align: center;">Status</th>
        <th scope="col" style="text-align: center;">Address</th>
        <th scope="col" style="text-align: center;">Date</th>
        <th scope="col" style="text-align: center;">Price</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">Phone</th>
        <th scope="col" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
  {{#each pendingOrders}}
    <!-- Kiểm tra xem đây có phải là dòng đầu tiên của id_bill không -->
    <tr class="table-info" style="{{#if isFirstOccurrence}}margin-top:4px; border-top: 4px solid black ;{{/if}}">
      <!-- Hiển thị id_bill nếu là dòng đầu tiên -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.id_bill}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Hình ảnh sản phẩm -->
      <td style="vertical-align: middle; text-align:center;">
        {{#if (firstImage this.image)}}
          <img src="/image/{{firstImage this.image}}" style="width: 90px; height:90px;" />
        {{/if}}
      </td>

      <!-- Tên sản phẩm và thương hiệu -->
      <td style="vertical-align: middle; text-align:center;">
        {{this.product_name}} - Thương hiệu: {{this.brand_name}}
      </td>
      <!-- Số lượng -->
      <td style="vertical-align: middle; text-align:center;">{{this.cart_quantity}}</td>
      <td style="vertical-align: middle; text-align:center;">{{this.status}}</td>
      <!-- Địa chỉ -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">
          {{this.ip_address}} - {{this.district_name}} - {{this.city_name}}
        </td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}
      <!-- Ngày đặt hàng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{formatDate this.create_at}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Giá sản phẩm -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.total_price}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Tên người dùng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.user_name}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Số điện thoại người dùng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.address_phone}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Cập nhật (button) -->
      <td style="vertical-align: middle; text-align:center;">
      {{#if isFirstOccurrence}}
        <button type="button" class="btn btn-info btn-sm"><a href="/homepage/bill_admin/{{this.id_bill}}">Confirm</a></button>
      {{/if}}
        <input type="hidden" name="id_billdetail" value="{{this.id_billdetail}}" />
        <input type="hidden" name="id_cart" value="{{this.id_cart}}" />
        <input type="hidden" name="id_address" value="{{this.id_ad}}" />
      </td>
    </tr>
  {{/each}}
</tbody>

</table>
  {{/if}}
  {{#if confirmedOrders}}
    <!-- Hiển thị bảng hóa đơn đã xác nhận -->
      <h3 style="text-align: center;">Bảng Hóa Đơn đã được xác nhận</h3>
  <table class="table table-primary">
    <thead>
      <tr class="table-primary">
        <th scope="col" style="text-align: center;">MS bill</th>
        <th scope="col" style="text-align: center;">Image</th>
        <th scope="col" style="text-align: center;">Product</th>
        <th scope="col" style="text-align: center;">Quantity</th>
        <th scope="col" style="text-align: center;">Status</th>
        <th scope="col" style="text-align: center;">Address</th>
        <th scope="col" style="text-align: center;">Date</th>
        <th scope="col" style="text-align: center;">Price</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">Phone</th>
      </tr>
    </thead>
    <tbody>
  {{#each confirmedOrders}}
    <!-- Kiểm tra xem đây có phải là dòng đầu tiên của id_bill không -->
    <tr class="table-info" style="{{#if isFirstOccurrence}}margin-top:4px; border-top: 4px solid black ;{{/if}}">
      <!-- Hiển thị id_bill nếu là dòng đầu tiên -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;" name="id_bill">{{this.id_bill}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Hình ảnh sản phẩm -->
      <td style="vertical-align: middle; text-align:center;">
        {{#if (firstImage this.image)}}
          <img src="/image/{{firstImage this.image}}" style="width: 90px; height:90px;" />
        {{/if}}
      </td>

      <!-- Tên sản phẩm và thương hiệu -->
      <td style="vertical-align: middle; text-align:center;">
        {{this.product_name}} - Thương hiệu: {{this.brand_name}}
      </td>
      <!-- Số lượng -->
      <td style="vertical-align: middle; text-align:center;">{{this.cart_quantity}}</td>
      <td style="vertical-align: middle; text-align:center;">{{this.status}}</td>
      <!-- Địa chỉ -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">
          {{this.ip_address}} - {{this.district_name}} - {{this.city_name}}
        </td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}
      <!-- Ngày đặt hàng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{formatDate this.create_at}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Giá sản phẩm -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.total_price}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Tên người dùng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.user_name}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}

      <!-- Số điện thoại người dùng -->
      {{#if isFirstOccurrence}}
        <td style="vertical-align: middle; text-align:center;">{{this.address_phone}}</td>
      {{else}}
        <td style="vertical-align: middle; text-align:center;"></td>
      {{/if}}


    </tr>
  {{/each}}
</tbody>

</table>
  {{/if}}
{{else}}
  <!-- Hiển thị ảnh và nút chờ giao hàng -->
  <div style="text-align: center;">
    <img src="/image/image.png" alt="Default Image" style="width: 50%; height: 400px; display: inline-block;" />
  </div>
{{/if}}
  <!-- Nút quay lại đơn hàng -->
  <a href="/homepage">
    <button type="button" class="btn btn-success" style="float: right; margin-left: 16px">Quay lại đơn hàng</button>
  </a>