<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">Import More</th>
      <th scope="col" style="text-align: center;">Image</th>
      <th scope="col" style="text-align: center;">Brands</th>
      <th scope="col" style="text-align: center;">Type</th>
      <th scope="col" style="text-align: center;">Name</th>
      <th scope="col" style="text-align: center;">Price</th>
      <th scope="col" style="text-align: center;">Quantity</th>
      <th scope="col" style="text-align: center;">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each product}}
      <tr>
        <td style="vertical-align: middle; text-align:center;">
          <input type="checkbox" name="id_product" value="{{this.id_product}}" style="transform: scale(1.5);" />
        </td>
        <td style="vertical-align: middle; text-align:center;">
          {{!-- {{#each (parseJSON this.image) as |img|}}
            <img src="/image/{{img}}" alt="" style="width: 90px; height:90px; margin-right: 5px;" />
          {{/each}} --}}
          {{#if (firstImage this.image)}}
            <img src="/image/{{firstImage this.image}}" alt="Product Image" style="width: 90px; height: 90px;" />
          {{/if}}

        </td>
        <td style="vertical-align: middle; text-align:center;">{{this.brand_name}}</td>
        <td style="vertical-align: middle; text-align:center;">{{this.product_nametype}}</td>
        <td style="vertical-align: middle; text-align:center;">{{this.name}}</td>
        <td style="vertical-align: middle; text-align:center;">{{this.price}}</td>
        <td style="vertical-align: middle; text-align:center;">{{this.quantity}}</td>
        <td style="vertical-align: middle; text-align:center;">{{this.description}}</td>
        <td style="vertical-align: middle; text-align:center;">
          <a href="/homepage/update/{{this.id_product}}"><button class="btn btn-warning btn-sm" style="margin-bottom: 8px;"><i
                class="bi bi-pencil"
              ></i>
              Update
            </button></a>
          <br />
          <a href="/homepage/delete/{{this.id_product}}"><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>
              Delete</button></a>
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>
<a href="/homepage/create" style="color: #F8F9FA;">
  <button type="button" class="btn btn-success" style="float: right; margin-left: 16px;margin-bottom: 20px">Add Product</button>
</a>
<button
  type="button"
  class="btn btn-success"
  style="float: right; margin-left: 16px;margin-bottom: 20px"
  onclick="showImport({{json city}},{{json manufacture}})"
>Import</button>
<div class="pay" id="pay"></div>
<a href="/homepage/admin" style="color: #F8F9FA;">
  <button type="button" class="btn btn-success" style="float: right; margin-left: 16px;margin-bottom: 20px">Role and User</button>
</a>
<script src="/js/home.js"></script>
{{! <a href='/homepage/list_users'>
  <button
    type='button'
    class='btn btn-success'
    style='float: right;'
  >List_users</button>
</a> }}
{{! <script src="/js/view.js"></script> }}