<div class="image-slider">
  <div class="slides-container">
    <img src="/image/cuahang1.jpg" class="slide active" id="slide" />
  </div>
</div>

<div class="select_option">
  <span style="padding: 0 12px;">Sắp xếp theo: </span>
  <select id="sortingSelect" style="margin-right: 12px; border-radius: 8px" onchange="sortproducts()">
    <option value="" hidden selected>Giá</option>
    <option value="top">Giá từ cao đến thấp</option>
    <option value="down">Giá từ thấp đến cao</option>
  </select>
</div>
<div class="row justify-content-start">
  {{#each product}}
    <div class="col-3">
      <div class="card2">
        <a class="card2-box" href="/cmt/{{this.id_product}}">
          <input type="hidden" name="id_product" value="{{this.id_product}}" />
          {{#if (firstImage this.image)}}
            <img src="/image/{{firstImage this.image}}" class="card-img-top product-img" alt="..." style="min-height: 360px;" />
          {{/if}}
          <div class="card-body" style="min-height: 200px;">
            <h4 class="card-title" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;"><b
              >{{this.name}}</b></h4>
            <div style="display: inline-flex; justify-content:space-between; width:100%">
              <h5 style="color: brown;">brand:{{this.brand_name}}</h5>
              <h5>{{this.price}}.000 VNĐ</h5>
            </div>
            <p class="card-text">Mô tả: {{this.description}}</p>
            <div style="display: inline-flex; justify-content:space-between; width:100%;align-items:center">

              <span class="btn btn-primary mt-auto">Xem chi tiết</span>
              <button id="addToCart" class="addToCart" onclick="showSuccessToast(event)">
                <i class="bi bi-cart-plus-fill" style="font-size: 24px;"></i>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  {{/each}}
</div>
<div id="toast"></div>
<script type="text/javascript" src="/js/product_new.js"></script>