<div class="row justify-content-start">
  {{#each product}}
    <div class="col-3">
      <div class="card2">
        <img src="/image/{{this.image}}" class="card-img-top product-img" alt="...">
        <div class="card-body" style="min-height: 200px;">
          <h7 class="card-title" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;"><b>{{this.name}}</b></h7>
          <h5>brand:{{this.brands}}</h5>
          <p class="card-text">Mô tả: {{this.description}}</p>
          <a href="/{{this.brands}}-{{this.name}}" class="btn btn-primary mt-auto">Xem chi tiết</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
