<div class="figure-product" style="display: flex; justify-content: space-around;">
    <figure class="figure" style="margin-bottom: 10px;">
        <img src="/image/{{product.image}}" class="figure-img img-fluid rounded" style="max-height: 540px; max-width: 500px;">
        <figcaption class="figure-caption"><b>{{product.name}}</b></figcaption>
    </figure>
    <div class="information" style="display: flex; flex-direction: column; margin-left: 10px;">
        <h5 style="margin-bottom: 10px;">brand: {{product.brands}}</h5>
        <p  style="margin-bottom: 10px;"><b>Mô tả:</b> {{product.description}}</p>
        <span style="display: block; width: 100%; margin-bottom: 10px;"><b>Thể Loại: {{product.type}}</b></span>
        <h7 style="margin-bottom: 0;">{{product.gia}}.VNĐ</h7>
    </div>
</div>
