<div
  class="figure-product"
  style="display: flex; justify-content: space-around;"
>
  <input type="hidden" value="{{product.id_product}}" name="id_product">
  <figure class="figure" style="margin-bottom: 10px;">
    {{#if (firstImage product.image)}}
        <img id="mainImage" src="/image/{{firstImage product.image}}" class="figure-img img-fluid rounded" style="max-height: 540px; max-width: 500px;" alt="Product Image" style="width: 90px; height: 90px;" />
    {{/if}}
    <div class="thumbnails" 
         style="display: flex; justify-content: space-between; margin-top: 10px; max-width: 500px;">
      {{#each (parseJSON product.image)}}
        <img src="/image/{{this}}" 
             class="img-thumbnail rounded" 
             style="width: 19%; max-height: 100px; object-fit: cover; cursor: pointer;" 
             alt="Thumbnail" 
             onclick="updateMainImage('{{this}}')" />
      {{/each}}
    </div>
    <h3><figcaption
        class="figure-caption"
        style="color: rgba(200, 0, 0, 0.7)"
      ><b>{{product.name}}</b></figcaption></h3>
  </figure>
  <div class="row" style="display:flex; height: 100px; weight: 100px">
    <div class="col" style="display:block; height: 100%; weight: 100%"></div>
  </div>
  <div
    class="information"
    style="display: flex; flex-direction: column; margin-left: 20px; max-width:500px;"
  >
    <h3 style="margin-bottom: 10px; color: rgba(200, 0, 0, 0.7);">Brand:
      {{product.brand_name}}</h3>
    <p style="margin-bottom: 10px; font-size: 24px; "><b>Mô tả:</b>
      {{product.description}}</p>
    <span
      style="display: block; width: 100%; margin-bottom: 10px;font-size: 20px;"
    ><b>Thể Loại: {{product.type}}</b></span>
    <span style="display: flex; align-items: center;"><b
        style="font-size: 20px; margin-right: 12px;"
      >Giá hiện tại: </b><b
        id="price"
        style="color: rgba(200, 0, 0, 0.7);font-size: 32px;"
      >{{product.price}}.000 VNĐ</b>
      <button class="addToCart-detail" onclick="showSuccessToast(event)">
        <i class="bi bi-cart-plus-fill" style="font-size: 28px;"></i>
      </button>
    </span>
  </div>
</div>
<div id="toast"></div>
<!-- Phần giao diện bình luận -->
<div class="comments-section mt-4">
  <h3 class="text-danger">Bình luận</h3>
  <!-- Form thêm bình luận mới -->
  <div class="add-comment mb-4">
    {{!-- <form >
    </form> --}}
        <input type="hidden" id="addcmt" name="id_product" value="{{product.id_product}}" />
        <div class="" style="width: 100%; height:fit-content;display: flex; align-items:flex-start; flex-wrap: wrap;">
          <img src="/image/{{user.gender}}.jpg" alt="" srcset="" style="max-width: 56px; max-height: 36px; margin-right: 10px;">
          <div class="mb-3" style="flex-grow: 1;">
            <textarea 
              id="comment-content"
              name="description"
              class="form-control"
              rows="3"
              aria-label="Add a comment"
              placeholder="Thêm bình luận"
              required
            ></textarea>
          </div>
        </div>
      <button type="button" class="btn btn-danger" style="margin: 8px 28px 20px 0px; float: right;" onclick="AddComment()">Gửi</button>
  </div>
  <!-- Hiển thị các bình luận hiện tại -->
  <div class="comments-list mb-4"  style="width: 100%;display: flex; align-items:flex-start;justify-content:center; flex-wrap: wrap;">
    {{#each comments_and_replies}}
    <!-- Hiển thị nội dung của comment nếu id_product khớp -->
    <div class="comment-render border-bottom pb-3 mb-3 form-control" id="cmt-{{this.id_cmt}}" style="width:100%;">
        <!-- Hiển thị thông tin của người dùng -->
        <img class="img-comment" src="/image/{{this.gender}}.jpg" alt="" srcset="">
        <span><b>{{this.name}}</b></span>
        <span style="float: right;">đã đăng vào ngày {{formatDate this.date}}</span>
        <p class="form-control description-comment">{{this.description}}</p>

        <!-- Hiển thị các phản hồi của bình luận -->
        <div class="replies ms-4 mt-3">
                {{#each this.replies}}
                    
                    <div class="reply border-bottom pb-2 mb-2" id="cmt-{{this.id_cmt}}" style="width: 96%; margin-right: auto; float:right;">
                        <div style="display: inline-flex;">
                            <img src="/image/{{this.gender}}.jpg" alt="" srcset="" style="max-width: 56px; max-height: 36px; margin-right: 10px;">
                            <p><b>{{this.name}}</b></p>
                        </div>
                        <span class="text-muted fs-6" style="float: right;">đã trả lời vào ngày: {{formatDate this.date}}</span>
                        <p>{{this.description}}</p>
                        <ul class="list-option-cmt reply-cmt" >
                        {{#ifEquals this.id_user ../../user.id_user}}
                          <li onclick="DeleteComment('{{this.id_cmt}}', '{{../../product.id_product}}')" style="margin-right: 12px; margin-bottom:12px; cursor:pointer;"><i class="bi bi-trash3" style="margin-right: 12px;"> Remove</i></li>
                        {{else}}
                          <li class="reply-Comment" onclick="renderComment(event)" style="margin-right: 12px; margin-bottom:12px;"><i class="bi bi-chat" style="margin-right: 12px;"> Reply</i></li>
                        {{/ifEquals}}
                        </ul>
                    </div>
                {{/each}}
        </div>

        <!-- Hiển thị các tùy chọn -->
            <ul class="list-option-cmt reply-cmt">
            {{#ifEquals this.id_user ../user.id_user}}
                <li onclick="DeleteComment('{{this.id_cmt}}', '{{../product.id_product}}')" style="cursor:pointer;"><i class="bi bi-trash3" style="margin-right: 12px;"> Remove</i></li>
            {{else}}
                <li class="reply-Comment" onclick="renderComment(event)"><i class="bi bi-chat" style="margin-right: 12px;"> Reply</i></li>
            {{/ifEquals}}
            </ul>
      <!-- Nơi chèn form trả lời -->
        <div class="reply-form-container" style="width:100%; margin-right:12px;" data-replied="false">
          <input type="hidden" name="product_id" value="{{this.id_product}}" />
          <input type="hidden" name="comment_id" value="{{this.id_cmt}}" />
        </div>
        </div>
      {{/each}}
    <button id="loadMoreComments" class="btn btn-primary" style="width:100%; margin-top:20px;" type="button">Tải thêm 3 bình luận tiếp theo ...</button>
  </div>
</div>
</div>
{{!-- <script type="text" src="/socket.io/socket.io.js"></script> --}}
<script type="text/javascript" src="/js/comment.js"></script>
<script type="text/javascript" src="/js/product_detail.js"></script>